script#modify-tile(type='text/template')
        <h2>
        X: <%= x %>
        Y: <%= y %>
        </h2>
        <label>
        Elevation: <input type="text"  data-changeme='elevation' class='js-change js-add-elevation' placeholder='add an elevation - positive integer 1-10' value='<%= typeof elv !== "undefined" ? elv : 0 %>'/>
        </label>
        <label>
        Enterable Directions: <input type="text" data-changeme='e'  class='js-change js-add-dirs' placeholder='add directions' value='<%= typeof e !== "undefined" ? e : "" %>'/>
        </label>
        <label>
        Tile type: <input type="text" data-changeme='t'  class='js-change js-add-type' placeholder='add type' value='<%= typeof t !== "undefined" ? t : "e" %>'/>
        </label>
        <label>
        End? <input type="text" data-changeme='end'  class='js-change js-can-end' placeholder='can a player end here?' value='<%= end %>'/>
        </label>
        <label>
        Difficult? <input type="text" data-changeme='m'  class='js-change js-diff' placeholder='diff terrain (squares)' value='<%= m %>'/>
        </label>

script#inventory-item(type='text/template')
        <%= name %> 
        <% if (equipped) { %> 
        span.js-item-equipped E 
        <% } %>

script#mapcreate-item(type='text/template')
        <%= typeof e !== 'undefined' && e ? e : '&nbsp;' %>
        <span class='elevation'><%= elv %></span>
        <span class='type'><%= t !== "e" ? t : "" %></span>

script#character-view(type='text/template')
        | This is a character template

script#power-item(type='text/template')
        <span class='name <%= uses <= 0 ? " disabled" : "" %>'> <%= name %> </span>
        ul.info
                li(data-tooltip='Uses').uses <%= uses === Infinity ? "I" : uses %> 
                li(data-tooltip='Range').range <%= range %>
                <li data-tooltip='Action Type: <%= action %>' class='action'><%= action == "standard" ? "Std" : (action == "move" ? "Mov" : "Min") %></li>

script#menu(type='text/template')
        ul
                li(tabindex=2).js-virtual-move.selected Move
                li(tabindex=2).js-attack Attack
                  div.power-list.nested-menu
                li(tabindex=2).js-defend Defend
                li(tabindex=2).js-show-inventory Inventory
                  div.inventory-list.nested-menu
                li Phase: 
                  span.phase-number <%= phase %>
                  | /3

script#attribute-container(type='text/template')
    .meterwrap
        meter.HP(linker='HP')
        meter.creatine(linker='creatine')
    h2 <%= name %>
    ul
        li Standard: 
            span.standard <%= actions.standard %>
        li Move : 
            span.move <%= actions.move %>
        li Minor : 
            span.minor <%= actions.minor %>
