script#new-game(type='text/template')
    input(type='text', name='username', placeholder='Username')
    input(type='password', name='password', placeholder='Password')
    input(type='password', name='confirm-password', placeholder='Confirm password')
    input(type='button', value='Start Game').js-start-game


script#modify-tile(type='text/template')
        <h2>
        X: <%= x %>
        Y: <%= y %>
        </h2>
        <label>
        Elevation: <input type="text"  data-changeme='elevation' class='js-change js-add-elevation' placeholder='add an elevation - positive integer 1-10' value='<%= typeof elv !== "undefined" ? elv : 0 %>'/>
        </label>
        <label>
        Enterable Directions: <input type="text" data-changeme='e'  class='js-change js-add-dirs' placeholder='add directions' value='<%= typeof e !== "undefined" ? e : "" %>'/>
        </label>
        <label>
        Tile type: <input type="text" data-changeme='t'  class='js-change js-add-type' placeholder='add type' value='<%= typeof t !== "undefined" ? t : "e" %>'/>
        </label>
        <label>
        End? <input type="text" data-changeme='end'  class='js-change js-can-end' placeholder='can a player end here?' value='<%= end %>'/>
        </label>
        <label>
        Difficult? <input type="text" data-changeme='m'  class='js-change js-diff' placeholder='diff terrain (squares)' value='<%= m %>'/>
        </label>

script#inventory-item(type='text/template')
        <i class='js-show-more icon-caret-down'></i>
        span.name <%= name %>
        ul.info
            <% if (equipped) { %> 
            li.js-unequip Unequip
            <% } else if (canEquip) { %>
            li.js-equip Equip
            <% } %>
            <% if (canUse) { %> 
            li.js-use Use
            <% } %>
            li.js-quantity(data-tooltip='Quantity') <%= quantity %>

script#mapcreate-item(type='text/template')
        <%= typeof e !== 'undefined' && e ? e : '&nbsp;' %>
        <span class='elevation'><%= elv %></span>
        <span class='type'><%= t !== "e" ? t : "" %></span>

script#character-view(type='text/template')
        | This is a character template

script#power-item(type='text/template')
        <i class='js-show-more icon-caret-down'></i>
        <span class='name <%= uses <= 0 ? " disabled" : "" %>'> <%= name %> </span>
        ul.info
                li(data-tooltip='Uses').uses <%= isFinite(uses) ? uses : "&infin;" %> 
                li(data-tooltip='Range').range <%= rangedisplay %>
                <li data-tooltip='Action Type: <%= action %>' class='action'><%= action == "standard" ? "Std" : (action == "move" ? "Mov" : "Min") %></li>

script#menu(type='text/template')
        h2 <%= name %>
            span.phase-number(data-tooltip='Phase number') <%= phase %>/3
        ul
                li(tabindex=2, actiontype="move").js-virtual-move.selected 
                    i.icon-directions
                    |Move
                li(tabindex=2).js-attack Attack
                    div.power-list.nested-menu
                li(tabindex=2).js-show-inventory 
                    i.icon-lab
                    |Inventory
                    span.inventory-length.list-descriptor-small(data-tooltip='Items in Inventory')
                    div.inventory-list.nested-menu
                li(tabindex=2, actiontype="move", data-tooltip='+2AC for one round').js-defend 
                    i.icon-shield
                    | Defend
                li(tabindex=2).js-end-turn End Turn

script#attribute-container(type='text/template')
    .meterwrap
        meter.HP(linker='HP')
        meter.creatine(linker='creatine')
    h2 <%= name %>
    .clear
    ul.actions-remaining
        li(title='std')
            span.standard <%= actions.standard %>
        li(title='mov') 
            span.move <%= actions.move %>
        li(title='min')
            span.minor <%= actions.minor %>
        li
            span.js-toggle-full.button More
    div.full-attributes
        | These are suome full attributes

script#dispatch-menu-item(type='text/template')
    li
        <%= name %>
        | <%= d ? "Dispatched" : "" %>
        span.js-view-attrs View