@import "compass/css3";
@import "compass/reset";

@mixin no-user-select() {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.clear { clear: both; }

* {
	@include box-sizing(border-box);
}

$boardheight: 700px;
$boardwidth: 1000px;

body, html { height: 100%; }

body {

	background: #1F182D;
    overflow: hidden;
    font-family: 'Myriad Pro Light',"Ubuntu", sans-serif;
    font-weight: 300;
	
	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.7);
		display: none;
	}

	&.active-modal::after  {
		// display: block;
	}
}

h2 {
    font-size: 1.7em;
    margin: 10px 0;
}

.modal {
    display: none;
    width: $boardwidth/2;
    max-width: 100%;
    position: fixed;
    left: 50%;
    z-index: 10000;
    margin-left: -250px;
    top: 65px;
    max-height: 94%;
    overflow: auto;
    background: rgba(0,0,0,.7);
    padding:  0 20px 10px;
    @include box-shadow(0px 0px 7px #111);
    @include border-radius(4px);
    
    .close-modal {
        position: absolute;
        top: 14px;
        right: 30px;
        cursor: pointer;
        color: #f9f9f9;
        z-index: 999;
    }

    .attribute-container {
        @include box-shadow(none);
        border: none;
        position: relative;
        top: 10px;
        left: 0px;
        background: none;
        width: 100%;

        meter::-webkit-meter-optimum-value, meter::-webkit-meter-suboptimum-value, meter::-webkit-meter-bar {
            background-size: 310px 20px;
        }

    }

    .js-toggle-full { display: none; }
}

canvas {
	display: block;
	margin: 0 auto;
	padding: 0;
	background: #f9f9f9;
    outline: none;
	// @include transition(background-size .5s ease-in-out);
	@include border-radius(3px);
	@include box-shadow(0px 0px 34px #222);

	&[bg='image-1'] {
		background: url("../images/Munashichi/cropped/monastery.jpg") no-repeat;
	}
	&[bg='image-2'] {
		background: url("../images/Munashichi/cropped/cathedral.jpg") no-repeat;
	}
	&[bg='image-3'] {
		background: url("../images/Munashichi/cropped/sunset.jpg") no-repeat;
	}
	&[bg='image-4'] {
		background: url("../images/Munashichi/cropped/edifice.jpg") no-repeat;
	}
	&[bg='image-5'] {
		background: url("../images/Munashichi/cropped/oldman.jpg") no-repeat;
	}
	&[bg='image-6'] {
		background: url("../images/Munashichi/cropped/dove.jpg") no-repeat;
	}

    &.nocorners {
        @include border-radius(3px 3px 0 0);
    }
}

.wrapper {
	width: $boardwidth;
	margin: 10px auto;
    position: relative;
}

.button {
    // @include border-radius(3px);
    // @include box-shadow(0px 0px 1px 1px #fff inset);
    display: inline-block;
    // needs latest Compass, add '@import "compass"' to your scss
    // background-color: #d6d6d6; // Old browsers
    // @include filter-gradient(#d6d6d6, #b5b5b5, vertical); // IE6-9
    // @include background-image(linear-gradient(top,  #d6d6d6 0%,#d3d3d3 41%,#b5b5b5 100%));
    padding: 3px 5px;
    color: #222;
    cursor: pointer;
    color: #aaa;

    &:hover {
        text-decoration: underline;
    }

}

ol {
	
	color: white;
    z-index: 99999;
	
	&.horiz-letters { 
		display: block;
		width: 1000px;
		height: 30px;

		li {
			display: inline-block;
			width: 50px;
			margin: 0px;
			padding: 0;
			text-align: center;
		}
	}
	&.vert-numbers {
	
		position: fixed;
		left: 50%;
		margin-left: -530px;
		height: 700px;
		top: 40px;
        width: 30px;

		li {
			line-height: 50px;
			display: block;
		}
	}
}

.enterable-list, .battle-grid-overlay {
    position: absolute;
    top: 30px;
    max-width: $boardwidth;
    max-height: $boardheight;
    @include no-user-select();

    li {
        width: 50px;
        margin: 0px;
        color: #fff;
        text-shadow: 0px 1px 3px #333;
        line-height: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        font-size: 1.2em;
        font-family: sans-serif;
        text-transform: uppercase;
        position: relative;

        &.nogrid {
            outline: 1px solid rgba(0,0,0,.035);
        }

        &:hover {
            color: #aaa;
        }

        &.selected-tile {
            background: rgba(0,0,0,.5);
            color: #ddd;
        }

        .elevation, .type {
            position: absolute;
            top: -15px;
            right: 3px;
            font-size: .7em;
            color: #fff;
        }

        .type { top: 15px !important; }
    }
}

.battle-grid-overlay {
    pointer-events: none;
    li {
        outline: 1px solid rgba(0,0,0,.1); 

        &.potentialmove {
            outline: none;
        }
        &.selecting-move {
            background: rgba(107,247,59,.6);
            cursor: pointer;
        }
    }
    li:hover {
    }
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: 400px;
}

.game-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 55px;
    @include border-radius(3px);
    // border: 1px solid red;
    width: 230px;
    // border-left: 2px solid #333;
    background: rgba(0,0,0,.6);
    // outline: none;

    &.visible { display: block;}

    
    h2 {
        color: #aaa;
        text-indent: 1em;
        font-size: 1.3em;
        text-align: center;
        border-bottom: 1px solid #777;
        padding-bottom: 6px;
    }

    .phase-number {
        @include border-radius(3px);
        position: absolute;
        top: 6px;
        left: 20px;
        // background: rgba(0,0,0,.4);
        text-align: center;
        width: 38px;
        padding: 4px;
        text-indent: 0;
    }

    .list-descriptor-small {
        padding: 0;
        position: absolute;
        top: 0px;
        font-size: .6em;
        left: 0;
        text-shadow: 0px 1px 2px #000, 0px -1px 2px #000, 0px 1px 0px #000;
        color: #fff;
        text-align: center;
        width: 38px;
        padding: 4px;
        text-indent: 0;
    }

    &[quadrant='1'] { 
        left: 15px;
        top: 100px;

        li .nested-menu > ul {
            left: 230px;
        }

    }

    li {
        @include no-user-select();
        display: block;
        line-height: 2em;
        color: #bbb;
        text-align: center;
        font-size: 1.1em;
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        outline: none;

        > i {
            position: absolute;
            left: 10px;
            line-height: 2em;
            color: #aaa;
            text-indent: 0;
        }

        &:first-of-type {
            @include border-radius(3px 3px 0 0);
        }

        &.header {
            white-space: normal;
        }

        &.selected, &:hover {
            color: #ddd;
            background: rgba(0,0,0,.3);
        }
        &.disabled {
            color: #666;
            cursor: not-allowed;
            text-decoration: line-through;
        }
    }

    li .nested-menu > ul {
        position: absolute;
        right: 230px;
        top: 0;
        max-height: 500px;
        display: none;
        background: rgba(0,0,0,.6);

        > li {
            text-align: left;
            text-indent: 1.35em;
            width: 300px;
        }

        > li {
            @extend .clearfix;
            text-shadow: 0px 1px 0px #000;

            .info {
                float: right;
                background: none;

                li {
                    cursor: help;
                    @include border-radius(3px);
                    margin: 0 2px;
                    padding-top: 2px;
                    display: inline-block;
                    min-width: 40px;
                    text-align: center;
                    text-indent: 0;
                    border: 1px solid #ccc;
                    font-size: .8em;
                    line-height: 1.2rem;
                }
            }
            .name {
                position: relative;
                bottom: -2px;
            }
        }
    }

    li.selected .nested-menu > ul {
        display: block;
    }
}

.stat-item {
    position: relative;
    padding-top: 5px;

    &:before {
        content: attr(title);
        position: absolute;
        display: block;
        top: -4px;
        color: #fff;
        font-size: .5em;
        border-bottom: 1px solid #aaa;
    }
}

.power-list, .inventory-list {
    .attribute-list {
        @extend .clearfix;
        padding: 10px;
        display: none;

        li {
            float: left;
            width: 50%;
            font-size: 1rem;
            padding: 0;
            text-indent: .4em;
            text-align: left;
            background: rgba(0,0,0,.4);
        }
    }
}



input {
    @include border-radius(3px);
    @include box-shadow(0px 2px 4px #ddd inset);
    display: inline-block;
    line-height: 1.8;    
    font-size: 1.4em;
    outline: none;
    padding: 2px 4px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 35%;
}


#turn-progress-number {
    // @include border-radius(3px);
    width: 5%;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 2.45;
    font-size: .8em;
    color: #ddd;
    bottom: -25px;
    z-index: 99;
    text-shadow: 0px -1px 0px #000, 0px 1px 0px #000;
}

#turn-progress {
     /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    padding: 0;
    @include border-radius(0px);

    &::-webkit-progress-bar {
        background-color: #333;
        padding: 3px;
    }

    // Thanks to chris coyier for the gradients
    &::-webkit-progress-value {
        background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44);

        background-size: 35px 20px, 100% 100%, 100% 100%;
        @include border-radius(2px);
    }
}

[data-tooltip] {
    position: relative;

    &.show-tooltip::after { display: block; }

    &:after {
        @include border-radius(3px);
        content: attr(data-tooltip);
        display: none;
        background: rgba(0,0,0,.9);
        text-align: center;
        color: #ddd;
        padding: 3px;
        position: absolute;
        top: -1px;
        left: 100%;
        z-index: 99;
    }
}

.attribute-container {
    @extend .clearfix;
    @include border-radius(2px);
    @include no-user-select();
    @include box-shadow(0px 0px 4px #111, 0px 3px 7px #000);
    color: #aaa;
    top: 55px;
    left: 15px;
    position: absolute;
    width: 320px;
    display: none;
    background: rgba(0,0,0,.5);
    padding: 5px;
    border-top: 1px solid #888;


    &.bottom {
        top: auto;
        left: auto;
        bottom: 30px;
        right: 15px;
    }

    .meterwrap {
        float: left;
        width: 70%;
    }

    h2 {
        color: #ddd;
        float: right;
        width: 30%;
        text-align: center;

    }
    ul.actions-remaining {
        color: #aaa;
        width: 100%;
        padding: 0 5px;

        li {
            display: inline-block;
            width: 8%;
            font-weight: bold;
            text-align: center;
            position: relative;
            color: #ccc;
            border-right: 1px solid #aaa;

            &:last-of-type {
                text-align: right;
                width: 35%;
                border-right: none;
            }

            &[title='min'] {border-right: none; }

            &:after {
                content: attr(title);
                position: absolute;
                bottom: -8px;
                left: 2px;
                font-size: .4em;
                color: #aaa;
                font-weight: normal;
            }
        }
    }

    .full-attributes {
        @include box-shadow(0px 3px 6px #000 inset);
        @include border-radius(2px);
        padding: 10px 20px;
        margin: 10px 2px;
        background: rgba(0,0,0,.6);
        // border-top: 1px solid #aaa;


        li {
            display: inline-block;
            width: 40%;
            color: #ccc;
            border-bottom: 1px solid #aaa;
            margin: 5px 0;

            &:nth-of-type(2n) {
                margin-left: 20%;
            }

            &.obj-caller {
                color: #fff;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        span.key {
            font-weight: bold;
            padding: 0 5px 0 0;
        }
    }
}

meter {
    @include border-radius(4px);
    width: 100%;
    position: relative;
    margin: 5px auto;

    &::-webkit-meter-inner-element {
        -webkit-user-modify: read-only !important;
    }
    &::-webkit-meter-optimum-value, &::-webkit-meter-suboptimum-value,&::-webkit-meter-bar {
        @include border-radius(2px);
        @include transition(.3s width ease-in-out);
        background-size: 260px 20px;
    }
    &::-webkit-meter-bar {
        @include box-shadow(0px 1px 3px #000 inset, 0px 0px 4px #222);
        background: rgba(0,0,0,.6);
        border: 5px solid transparent;
    }


    &.creatine {
        // top: 45px;

        &::-webkit-meter-optimum-value, &::-webkit-meter-suboptimum-value, &::-webkit-meter-even-less-good-value {
            // needs latest Compass, add '@import "compass"' to your scss
            background-color: #7f003f; // Old browsers
            @include filter-gradient(#7f003f, #00abef, horizontal); // IE6-9
            @include background-image(linear-gradient(left,  #7f003f 0%,#4f007c 51%,#00abef 85%,#00abef 85%));
        }
    }

    &.HP {
        // top: 70px;

        &::-webkit-meter-optimum-value, &::-webkit-meter-suboptimum-value, &::-webkit-meter-even-less-good-value {
            // needs latest Compass, add '@import "compass"' to your scss
            background-color: #7f0000; // Old browsers
            @include filter-gradient(#7f0000, #00bc28, horizontal); // IE6-9
            @include background-image(linear-gradient(left,  #7f0000 0%,#a7ba00 51%,#00bc28 100%));
        }
    
    }

    &:after {
        content: attr(title);
        left: 10px;
        color: #fff;
        text-shadow: 0px 2px 3px #333;
        font-size: .8em;
        top: 2px;
        position: absolute;
        white-space: nowrap;
    }


}