@import "compass/css3";
@import "compass/reset";

* {
	@include box-sizing(border-box);
}

$boardheight: 700px;
$boardwidth: 1000px;

body, html { height: 100%; }

body {
	background: #1F182D;
    overflow: hidden;
    font-family: sans-serif;
	
	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.7);
		display: none;
	}

	&.active-modal::after  {
		display: block;
	}
}

h2 {
    font-size: 1.7em;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.modal {
    display: block;
    width: $boardwidth;
    max-width: 100%;
    position: fixed;
    left: 50%;
    z-index: 10000;
    margin-left: -500px;
    top: 3%;
    max-height: 94%;
    overflow: auto;
    background: #f9f9f9;
    padding:  0 20px 10px;
    @include box-shadow(0px 0px 7px #111);
    @include border-radius(4px);
    
    .close-modal {
        position: absolute;
        top: 14px;
        right: 30px;
        cursor: pointer;
    }
}

canvas {
	display: block;
	margin: 0 auto;
	padding: 0;
	background: #f9f9f9;
	border: 1px solid #f9f9f9;
    outline: none;
	// @include transition(background-size .5s ease-in-out);
	@include border-radius(3px);
	@include box-shadow(0px 0px 34px #222);

	&[bg='image-1'] {
		background: url("../images/Munashichi/cropped/monastery.jpg") no-repeat;
	}
	&[bg='image-2'] {
		background: url("../images/Munashichi/cropped/cathedral.jpg") no-repeat;
	}
	&[bg='image-3'] {
		background: url("../images/Munashichi/cropped/sunset.jpg") no-repeat;
	}
	&[bg='image-4'] {
		background: url("../images/Munashichi/cropped/edifice.jpg") no-repeat;
	}
	&[bg='image-5'] {
		background: url("../images/Munashichi/cropped/oldman.jpg") no-repeat;
	}
	&[bg='image-6'] {
		background: url("../images/Munashichi/cropped/dove.jpg") no-repeat;
	}
}

.wrapper {
	width: $boardwidth;
	margin: 10px auto;
    position: relative;
}

ol {
	
	color: white;
    z-index: 99999;
	
	&.horiz-letters { 
		display: block;
		width: 1000px;
		height: 30px;

		li {
			display: inline-block;
			width: 50px;
			margin: 0px;
			padding: 0;
			text-align: center;
		}
	}
	&.vert-numbers {
	
		position: fixed;
		left: 50%;
		margin-left: -530px;
		height: 700px;
		top: 40px;
        width: 30px;

		li {
			line-height: 50px;
			display: block;
		}
	}
}

.enterable-list, .battle-grid-overlay {
    position: absolute;
    top: 30px;
    max-width: $boardwidth;
    max-height: $boardheight;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    li {
        width: 50px;
        margin: 0px;
        color: #fff;
        text-shadow: 0px 1px 3px #333;
        line-height: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        outline: 1px solid #333;
        white-space: nowrap;
        font-size: 1.2em;
        font-family: sans-serif;
        text-transform: uppercase;
        position: relative;

        &:hover {
            color: #aaa;
        }

        &.selected-tile {
            background: rgba(0,0,0,.5);
            color: #ddd;
        }

        .elevation, .type {
            position: absolute;
            top: -15px;
            right: 3px;
            font-size: .7em;
            color: #fff;
        }

        .type { top: 15px !important; }
    }
}

.battle-grid-overlay {
    pointer-events: none;
    li {
        outline: 1px solid rgba(0,0,0,.2); 

        &.potentialmove {
            outline: none;
        }
        &.selecting-move {
            background: rgba(107,247,59,.6);
            cursor: pointer;
        }
    }
    li:hover {
    }
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: 400px;
}

.game-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 31px;
    // border: 1px solid red;
    width: 230px;
    height: $boardheight;
    // border-left: 2px solid #333;
    background: rgba(0,0,0,.6);
    // outline: none;

    ul {
        background: rgba(0,0,0,.6);
    }

    li {
        display: block;
        line-height: 1.9rem;
        color: #bbb;
        text-align: center;
        font-size: 1.1em;
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        outline: none;

        &.header {
            white-space: normal;
        }

        &.selected, &:hover {
            color: #ddd;
            background: rgba(0,0,0,.3);
        }
    }

    li ul {
        position: absolute;
        right: 230px;
        top: 0;
        max-height: 500px;
        overflow: auto;
        display: none;

        li {
            text-align: left;
            text-indent: 1.2em;
            min-width: 300px;
        }
    }

    li.selected ul {
        display: block;
    }
}