doctype 
html
  head
    meta(charset='UTF-8')
    title Hammerzeit!
    link(rel='stylesheet', href='stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='stylesheets/screen.css')
    script(src='lib/require.js', data-main='game')
  body
    .wrapper
      //
         <h1>Hammerzeit: A tale of glory and intrigue!</h1> 
      span#turn-progress-number
      progress#turn-progress(value='0', max='1000', min='0')
      ol.horiz-letters
        li 0
        li 1
        li 2
        li 3
        li 4
        li 5
        li 6
        li 7
        li 8
        li 9
        li 10
        li 11
        li 12
        li 13
        li 14
        li 15
        li 16
        li 17
        li 18
        li 19
      ol.vert-numbers
        li 0
        li 1
        li 2
        li 3
        li 4
        li 5
        li 6
        li 7
        li 8
        li 9
        li 10
        li 11
        li 12
        li 13
      ul.battle-grid-overlay
      ul.enterable-list
      canvas#game-board(tabindex=1, width='1000', height='697')
      ul#travel-menu.game-menu(tabindex=0)
        li.header
          span.player-name Hero
          | - Level
          span.level 2
          | - Eco
          span.eco 124
          | - HP
          span.HP 45
        //- li(tabindex=2).js-show-equipped.selected Equipped
        li(tabindex=2).js-show-inventory.selected Inventory
          ul.inventory-list
        li(tabindex=2).js-show-attributes Attributes
        li(tabindex=2).js-show-teammate-menus Teammates
        li(tabindex=2).js-close-menu Close
      ul#battle-menu.game-menu(tabindex=0)
        li(tabindex=2).js-virtual-move.selected Move
        li(tabindex=2).js-attack Attack
        li(tabindex=2).js-defend Defend
        li(tabindex=2).js-show-inventory Inventory
          ul.inventory-list
      include includes/templates