doctype 
html
  head
    meta(charset='UTF-8')
    title Hammerzeit!
    link(rel='stylesheet', href='stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='stylesheets/screen.css')
    link(rel='stylesheet', href='icomoon/style.css')
    script(src='lib/require.js', data-main='game')
  body
    .wrapper
      //
         <h1>Hammerzeit: A tale of glory and intrigue!</h1> 
      span#turn-progress-number
      progress#turn-progress(value='0', min='0')
      ol.horiz-letters
        li 0
        li 1
        li 2
        li 3
        li 4
        li 5
        li 6
        li 7
        li 8
        li 9
        li 10
        li 11
        li 12
        li 13
        li 14
        li 15
        li 16
        li 17
        li 18
        li 19
      ol.vert-numbers
        li 0
        li 1
        li 2
        li 3
        li 4
        li 5
        li 6
        li 7
        li 8
        li 9
        li 10
        li 11
        li 12
        li 13
      ul.battle-grid-overlay
      ul.enterable-list
      canvas#game-board(tabindex=1, width='1000', height='697')
      include includes/templates










