doctype 
html
  head
    meta(charset='UTF-8')
    title Hammerzeit!
    link(rel='stylesheet', href='stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='stylesheets/screen.css')
    //- script(src='lib/require.js', data-main='game')
  body
    .login-box
        input(type='text', name='username', placeholder='username')
        input(type='password', name='password', placeholder='password')
